*.log
*.edgelist
#*.graphml
*.pyc
*.swp
*~
target/
bin/
wiki/
blog/
doc/old wiki entries/
.settings/
.project
.pydevproject
.classpath
.idea/
graphdb-bench.iml
JRatOutput/
data/datasets/*.graphml
data/results/Micro/*
.directory

